@page "/"
@using DiegoG.Finance.Blazor.Services
@inject WorkSheetStorage storage
@inject NavigationManager nav

<PageTitle>@Context.CurrentLanguage.ShortSiteTitle</PageTitle>

<h1>@Context.CurrentLanguage.SiteTitle</h1>
<h2>@Context.CurrentLanguage.SelectWorkSheet</h2>

<!--
<InputSelect TValue="string" id="language-selector" class="form-select">
    @foreach (var header in Headers)
    {
        <option value="@header.Path">@header.Name</option>
    }
</InputSelect>
-->

<button onclick="@GoToWorkPage"></button>