@using DiegoG.Finance.Blazor.Components
@using GLV.Shared.Common;
@using GLV.Shared.Blazor;
@using DiegoG.Finance.Blazor.Services;
@page "/work"

<link rel="stylesheet" href="css/work.css" />

<PageTitle>@Context.CurrentLanguage.ShortSiteTitle</PageTitle>

<div class="container worktable-container worktable-sheet-title">
    <div class="row">
        <div class="col-5 worktable worktable-title">@WorkTable.CurrentSheet.Title</div>
        <div class="col-3 worktable worktable-currency">@WorkTable.CurrentSheet.Currency.EnglishName @(WorkTable.CurrentSheet.Currency.Symbol)@WorkTable.CurrentSheet.Currency.Code</div>
    </div>
    <div class="row">
        <div class="col">
            <p class="small">@(Context.CurrentLanguage.CreatedDate): @WorkTable.CurrentSheet.Created.ToFullDateTimeWithTimeZone(Context.CurrentLanguage.Culture)</p>
        </div>
    </div>
</div>

<div class="worktable worktable-container worktable-tracker-sheet worktable-@CollapseControls[0].CollapseClass">
    <div class="container">
        <div class="row worktable worktable-header">
            <table class="col">
                @foreach (var item in WorkTable.SpendingTrackerSheetControls.EnumerateAmounts(WorkTable.CurrentSheet.SpendingTrackers.IncomeSources))
                {
                    item.LabeledAmount.LabelChanged += FinancialWorkEventHandler;
                    item.LabeledAmount.AmountChanged += FinancialWorkEventHandler;
                    <tr>
                        <th>
                            <input class="worksheet-text-input" @bind-value="item.Label" />
                        </th>
                        <td>
                            <input type="number" class="worksheet-text-input" @bind-value="item.Amount" />
                        </td>
                        <td>
                            <button type="button" class="btn-close" aria-label="Close" @onclick="item.Delete"></button>
                        </td>
                    </tr>
                }
                <tr class="total">
                    <th>Total</th>
                    <td>@WorkTable.CurrentSheet.SpendingTrackers.IncomeSources.Total</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" aria-label="New" @onclick="WorkTable.SpendingTrackerSheetControls.AddIncomeSource">+</button>
                    </td>
                </tr>
                <!--Implement Input-->
                <!--Total-->
            </table>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row worktable worktable-body">
            <div class="col worktable worktable-expense-categories">
                @foreach (var categoryBundle in WorkTable.SpendingTrackerSheetControls.EnumerateExpenseCategories())
                {
                    <div class="row">
                        @foreach (var category in categoryBundle)
                        {
                            category.Money.CollectionChanged += FinancialCollectionEventHandler;
                            category.Collection.CollectionChanged += FinancialCollectionEventHandler;

                            <style>
                                #result-@category.Id:hover, #table-@category.Id:hover {
                                transform: scale(1.05, 1.05);
                                }

                                body:has(#table-@category.Id:hover) #result-@category.Id, body:has(#result-@category.Id:hover) #table-@category.Id {
                                transform: scale(1.05, 1.05);
                                }
                            </style>
                            <div class="col worktable-expense-category" id="table-@category.Id">
                                <div class="title" style="@category.Style">
                                    <input type="text" class="worksheet-text-input" @bind-value="category.Category" />
                                    <button type="button" class="btn btn-outline-primary" aria-label="New" @onclick="category.AddExpense">+</button>
                                </div>
                                <table class="container">
                                    @foreach (var catrow in category.GetRows())
                                    {
                                        <tr class="row" style="@catrow.Style">
                                            @if (catrow.Value is not null)
                                            {
                                                catrow.Value.LabeledAmount.LabelChanged += FinancialWorkEventHandler;
                                                catrow.Value.LabeledAmount.AmountChanged += FinancialWorkEventHandler;
                                                <th class="col-3">
                                                    <input type="text" class="worksheet-text-input" @bind-value="catrow.Value.Label" />
                                                </th>
                                                <td class="col">
                                                    <input type="number" class="worksheet-text-input" @bind-value="catrow.Value.Amount" />
                                                </td>
                                            }
                                            else
                                            {
                                            }
                                        </tr>
                                    }
                                    <!--Implement Input-->
                                </table>
                            </div>
                        }
                    </div>
                    }
                    <!--Implement Input-->
            </div>
            <div class="col worktable worktable-output">
                <div class="row">
                    <div class="col worktable worktable-results">
                        <table class="container">
                            <tr class="row results-titles">
                                <th class="col-8">Category</th>
                                <td class="col">Goal</td>
                                <td class="col">Actual</td>
                                <td class="col">Total</td>
                                <td class="col-1"></td>
                            </tr>
                        @foreach (var item in WorkTable.SpendingTrackerSheetControls.EnumerateSheetResults()) 
                        {
                            item.Result.GoalChanged += FinancialWorkEventHandler;
                            <tr class="row worktable-result-row" id="result-@item.Id">
                                <th class="col" style="@item.Style">
                                    <input class="worksheet-text-input" @bind-value="item.Category" />
                                </th>
                                <td class="col" style="@item.Lighter">
                                    <input class="worksheet-text-input" @bind-value="item.Goal" />
                                </td>
                                <td class="col" style="@item.Lighter">
                                    @item.Result.ActualPercentage
                                </td>
                                <td class="col" style="@item.Lighter">
                                    @item.Result.Total
                                </td>
                                <td class="col-1 remove-btn" style="@item.Style">
                                    <button type="button" class="btn-close" aria-label="Close" @onclick="item.DeleteCategory"></button>
                                </td>
                            </tr>
                        }
                            <tr class="row results-extra">
                                <th class="col-6">
                                </th>
                                <td class="col">
                                    Remaining
                                </td>
                                <td class="col">
                                    @WorkTable.CurrentSheet.SpendingTrackers.Results.RemainingPercentage
                                </td>
                                <td class="col">
                                    @WorkTable.CurrentSheet.SpendingTrackers.Results.Remaining
                                </td>
                                <td class="col-1">
                                    <button type="button" class="btn btn-outline-primary" aria-label="New" @onclick="WorkTable.SpendingTrackerSheetControls.AddCategory">+</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col worktable worktable-extra">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="worktable worktable-container worktable-footer">
    <div class="container">
        <div class="row">
            <div class="col worktable-meta">
                <p>
                    @(Context.CurrentLanguage.WorkSheetVersion): @WorkTable.CurrentSheet.Version
                </p>
            </div>
        </div>
    </div>
</div>